/*╔═══════════════╗
      VARIABILI
  ╚═══════════════╝*/

 :root{
    /*- COLORI PRIMARIO -*/
    --clr-border: black;

    /*- COLORI SECONDARIO -*/
    --clr-secondary-0: white;



    /*-COLORI BG -*/
    --clr-bg-0: #F4E285;
    --clr-bg-1: #F4C26F;
    --clr-bg-2: #5B8E7D;
    --clr-bg-3: #BC4B51;
    --clr-bg-4: #8CB369;
    --clr-bg-5: #F4A259;

    /*- DIMENSIONI GUTTER*/
    --gutter-xs: .25rem;
    --gutter-sm: .5rem;
    --gutter-md: 1rem;
    --gutter-lg: 1.5rem;
    --gutter-xl: 2rem;
    --gutter-xxl: 3rem;

}

/*╔═══════════════╗
       COMMON
  ╚═══════════════╝*/

body{
    font-family: 'rotobo', sans-serif;
    color: var(--colore-testo);
    background-color: var(--clr-bg-0);
}

/*--- TYPO ---*/

h2{
    font-size: 4rem;
    margin-bottom: 1rem;
}


/*╔═══════════════╗
    TAG SEMANTICI
  ╚═══════════════╝*/

.window{
    height: 100vh;
    display: grid;
    place-items: center;
    position: relative;
    
}


.window-game__text-box{
    text-align: center;
    position: relative;
    text-align: center;
    position: relative;
    border: 5px solid var(--clr-bg-5);
    padding: 2rem;
    border-radius: 1rem;
    background-color: #f4a15982;
}

.text-box__number{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    font-size: 5rem;
}

.text-box__number>div{
    padding: var(--gutter-md);
    
}


.text-box__number-input>input{
    height: 120px;
    width: 120px;
    font-size: 5rem;
    margin: var(--gutter-md);
    border-radius: 100%;
    border: none;
    text-align: center;
    line-height: 120px;
    background-color: var(--clr-bg-5);
    border: 2px solid var(--clr-bg-3);
    
    
    
}
.element{
    background-color: var(--clr-bg-5);
    border-color: var(--clr-bg-3);
}

.text-box__info,.text-box__number,.text-box__number-final{
    height: 20vh;
    max-width: 1400px;
}

.text-box__info{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    justify-content: center;
}


.text-box__timer{
    position: absolute;
    font-size: 25px;
    width: 50px;
    top: -52px;
    left: 50%;
    transform: translate(-50%,50%);
    padding: .5rem 1rem;
    background-color: var(--clr-bg-1);
    border-radius: 1rem;
    border: 5px solid var(--clr-bg-5);
}

.text-box__button{
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%,50%);
    padding: .5rem 1rem;
    background-color: var(--clr-bg-5);
    border-radius: 1rem;
    box-shadow: none;
    text-shadow: none;
}
.circle{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: solid 5px transparent ;
}
.circle--green{
    background-color: var(--clr-bg-4);
    border-color: var(--clr-bg-2);
}
.circle--red{
    background-color: var(--clr-bg-3);
    border-color: brown;
}


.hide{
    display: none;
}